sonarqube:
  service:
    type: ClusterIP

  persistence:
    enabled: true
    size: 10Gi

  resources:
    requests:
      cpu: "500m"
      memory: "2Gi"
    limits:
      cpu: "1"
      memory: "4Gi"

postgresql:
  enabled: true
  persistence:
    size: 10Gi

securityContext:
  fsGroup: 1000
