sonarqube:
  replicaCount: 1

resources:
  requests:
    cpu: "300m"
    memory: "1.5Gi"
  limits:
    cpu: "800m"
    memory: "2Gi"

postgresql:
  enabled: true
  image:
    tag: "14.9.0-debian-11-r0"

  primary:
    resources:
      requests:
        cpu: "200m"
        memory: "768Mi"
      limits:
        cpu: "500m"
        memory: "1.5Gi"

persistence:
  enabled: true
  size: 10Gi
