sonarqube:
  replicaCount: 1

resources:
  requests:
    cpu: "500m"
    memory: "2Gi"
  limits:
    cpu: "1"
    memory: "3Gi"

postgresql:
  enabled: true
  image:
    tag: "14.9.0-debian-11-r0"

  primary:
    resources:
      requests:
        cpu: "250m"
        memory: "1Gi"
      limits:
        cpu: "500m"
        memory: "2Gi"

persistence:
  enabled: true
  size: 10Gi
